/.idea/dictionaries
/.idea/libraries
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/workspace.xml
/.idea/scopes

/target
/bundle/target
/cache/target
/demo/target
/demo/generator/target
/demo/repository/target
/format/target
/maven/target
/maven/boot/target
/maven/common/target
/maven/plugins/target
/maven/plugins/common/target
/net/target
/net/cluster/target
/net/common/target
/net/http/target
/net/service/target
/net/ssh/target
/net/mail/target
/net/testing/target
/process/target
/resources/target
/spring/target
/spring/common/target
/spring/testing/target
/runtime/target
/testing/target
atlassian-ide-plugin.xml
